.error-message {
    color: #ff0000; /* Color rojo para los mensajes de error */
    font-size: 14px;
    margin-top: 5px;
}

.stored-date{
    COLOR: grey;
}

.ReactModal__Content {
    width: 50%;  /* Ajusta el ancho del modal según tus necesidades */
    height: 50%; /* Ajusta la altura del modal según tus necesidades */
    margin: auto; /* Centra el modal horizontalmente */
  }

  /* Ajusta el tamaño de la previsualización de la imagen */
.preview-image-container img {
    max-width: 100%;
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
  }
  