.error-message {
    color: #ff0000; /* Color rojo para los mensajes de error */
    font-size: 14px;
    margin-top: 5px;
}

.stored-date{
    COLOR: grey;
}

.ReactModal__Content {
    width: 50%;  
    height: 50%; 
    margin: auto; 
  }


.preview-image-container img {
    max-width: 100%;
    max-height: 200px; 
  }
  