.user-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid #0480f4;
    color: white;
    border-radius: 8px;
    background-color: #5757577e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin: 20px auto;
    max-width: 100%; 
    min-width: 220px;
    min-height: 100vh;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h2 {
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 5px;
}

dl {
    gap: 5px; 
}

dt {
    font-size: 0.9em; 
    margin-bottom: 3px;
}

dd {
    font-size: 0.8em; 
    margin-bottom: 20px;
    margin-left: 0px;
}

button {
    margin-top: 50px;
    font-size: 0.9em; 
}
