.inputPass {
  padding: 6px 8px;
  margin-top: 5px;
  margin-bottom: 5px;

  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  max-height: 40px;
  overflow: auto;
  background: transparent;
  font-size: 20px;
}
.buttonPass {
  margin-top: 15px;
  padding: 10px;
  background-color: rgba(42, 82, 63);
  color: white;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}
form {
  border: none;
}
