* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* overflow: hidden; */
}

/* #main-content {
    margin-bottom: 46px;
    background-image: url("/public/images/cintas.jpg");
    background-size: cover;
    min-height: 100dvh;
    margin-top: 0;
} */

#main-content {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;

    background-image: url("/images/cintas.jpg");
    background-size: cover;
    min-height: 100dvh;
    background-attachment: fixed;
}

header {
    position: fixed;

    width: 100%;
    background-color: rgb(42, 82, 63);
    border-bottom: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
